@page
@model AccommodationBookingApp.Pages.AccommodationsModel
@{
    if (Model.HostName != null)
    {
        ViewData["Title"] = "All accommodations for: " + Model.HostName;
    }
    else
    {
        ViewData["Title"] = "Your accommodations";
    }
}
@if (Model.Accommodations != null & Model.Accommodations.Count > 0)
{
    @if (Model.HostName != null)
    {
        <div class="row">
            <h2>All accommodations owned by: @Model.HostName</h2>
        </div>
    }
    @foreach (var accommodation in Model.Accommodations)
    {
        var imagePath = "~/accommodationPhotos/" + @accommodation.Name + "_" + accommodation.Id.ToString() + "/Header/" + accommodation.HeaderPhotoFileName;
        var collapseId = accommodation.Name.Trim() + accommodation.Id.ToString();

        <div class="row">
            <h1><a asp-page="/AccommodationDetails" asp-route-accommodationId="@accommodation.Id">@accommodation.Name</a></h1>
        </div>
        <div class="row">
            <img class="col-lg-4 col-md-12 pl-0" src="@imagePath" asp-append-version="true" />
            <div class="col-lg-4 col-md-12">
                <p>Number of beds: @accommodation.NumberOfBeds</p>
                <p>Price per night: @accommodation.PricePerNight @accommodation.Currency.Name</p>
                <p>Address: @accommodation.Address</p>
            </div>
        </div>
        <div class="row mt-1 d-lg-none">
            <a class="btn btn-info" data-toggle="collapse" href="#@collapseId">See all actions</a>
        </div>
        <div class="collapse d-lg-block" id="@collapseId">
            <div class="row">
                <a asp-page="/Reservations" asp-page-handler="ForAccommodation" asp-route-accommodationId="@accommodation.Id" class="btn btn-info col-lg-2 mt-1">See all reservations</a>
                <a asp-page="/UpdateAccommodation" asp-route-accommodationId="@accommodation.Id" class="btn btn-info col-lg-2 ml-lg-1 mt-1">Update accommodation</a>
                <a asp-page="/EditAccommodationPhotos" asp-route-accommodationId="@accommodation.Id" class="btn btn-info col-lg-2 ml-lg-1 mt-1">Edit accommodation photos</a>
                <a asp-page="/DeleteAccommodation" asp-route-accommodationId="@accommodation.Id" class="btn btn-danger col-lg-2 ml-lg-1 mt-1">Delete this accommodation</a>
            </div>
        </div>
    }
}

@if (Model.Accommodations != null && Model.Accommodations.Count == 0 && User.IsInRole("Host"))
{
    <div class="row">
        <h2>You have no accommodations yet</h2>
    </div>
    <div class="row">
        <label>Would you like to create a new one?</label>
        <a asp-page="/CreateAccommodation">Click here to create a new accommodation</a>
    </div>
}

@if (Model.Accommodations != null && Model.Accommodations.Count == 0 && User.IsInRole("Admin"))
{
    <div class="row">
        <h4>Host has no accommodations yet</h4>
    </div>
}

