@page
@model AccommodationBookingApp.Pages.AccommodationModel

@{
}
@if (Model.Accommodations != null & Model.Accommodations.Count > 0)
{
    @foreach (AccommodationBookingApp.DataAccess.Entities.Accommodation accommodation in Model.Accommodations)
    {
        var imagePath = "~/accommodationPhotos/" + @accommodation.Name + "/Header/" + accommodation.HeaderPhotoFileName;
        <div>
            <h1><a asp-page="/AccommodationDetails" asp-route-accommodationId="@accommodation.Id">@accommodation.Name</a></h1>
            <p>Number of beds: @accommodation.NumberOfBeds</p>
            <p>Price per night: @accommodation.PricePerNight @accommodation.Currency</p>
            <p>Address: @accommodation.Address</p>
            <img src="@imagePath" asp-append-version="true" />
            <a asp-page="/Reservations" asp-page-handler="ForAccommodation" asp-route-accommodationId="@accommodation.Id">See all reservations</a>

        </div>
    }
}

@if (Model.Accommodations != null && Model.Accommodations.Count == 0)
{
    <div>
        <h2>You have no accommodations yet</h2>
        <label>Would you like to create a new one?</label>
        <a asp-page="/CreateAccommodation">Click here to create a new accommodation</a>
    </div>
}

