@page
@model AccommodationBookingApp.Pages.AccommodationsModel
@{
    if (Model.HostName != null)
    {
        ViewData["Title"] = "All accommodations for: " + Model.HostName;
    }
    else
    {
        ViewData["Title"] = "Your accommodations";
    }
}
@if (Model.Accommodations != null & Model.Accommodations.Count > 0)
{
    @if (Model.HostName != null)
    {
        <div class="row">
            <h2>All accommodations owned by: @Model.HostName</h2>
        </div>
    }
    @foreach (var accommodation in Model.Accommodations)
    {
        var imagePath = "~/accommodationPhotos/" + @accommodation.Name + "_" + accommodation.Id.ToString() + "/Header/" + accommodation.HeaderPhotoFileName;
        <div>
            <h1><a asp-page="/AccommodationsDetails" asp-route-accommodationId="@accommodation.Id">@accommodation.Name</a></h1>
            <p>Number of beds: @accommodation.NumberOfBeds</p>
            <p>Price per night: @accommodation.PricePerNight @accommodation.Currency.Name</p>
            <p>Address: @accommodation.Address</p>
            <img src="@imagePath" asp-append-version="true" />
        </div>
        <div class="row">
            <a asp-page="/Reservations" asp-page-handler="ForAccommodation" asp-route-accommodationId="@accommodation.Id">See all reservations</a>
            <a asp-page="/DeleteAccommodation" asp-route-accommodationId="@accommodation.Id">Delete this accommodation</a>
        </div>
    }
}

@if (Model.Accommodations != null && Model.Accommodations.Count == 0 && User.IsInRole("Host"))
{
    <div class="row">
        <h2>You have no accommodations yet</h2>
    </div>
    <div class="row">
        <label>Would you like to create a new one?</label>
        <a asp-page="/CreateAccommodation">Click here to create a new accommodation</a>
    </div>
}

@if (Model.Accommodations != null && Model.Accommodations.Count == 0 && User.IsInRole("Admin"))
{
    <div class="row">
        <h4>Host has no accommodations yet</h4>
    </div>
}

