@page
@model AccommodationBookingApp.Pages.BookingsModel
@{
    <div class="container">
        <div class="row">
            <h2>
                Previous stays
            </h2>
        </div>
        
        @foreach (AccommodationBookingApp.DataAccess.Entities.Booking previousBooking in Model.PreviousStays)
        {
            <div class="row">
                <p>@previousBooking.Accommodation.Name  </p>
                <p> Status: @previousBooking.ApprovalStatus </p>
                <p> Check-in Date: @previousBooking.CheckInDate.ToShortDateString() </p>
                <p> Check-out Date: @previousBooking.CheckOutDate.ToShortDateString() </p>
                <br />
            </div>
                
        }
       <div class="row">
            <h2>
                Upcoming bookings
            </h2>
       </div>

        @foreach (AccommodationBookingApp.DataAccess.Entities.Booking upcomingBooking in Model.UpcomingStays)
        {
            <div class="row">
                <p>@upcomingBooking.Accommodation.Name  </p>
                <p> Status: @upcomingBooking.ApprovalStatus </p>
                <p> Check-in Date: @upcomingBooking.CheckInDate.ToShortDateString() </p>
                <p> Check-out Date: @upcomingBooking.CheckOutDate.ToShortDateString() </p>
                <br />
            </div>
         }
    </div>
}
