@page
@model AccommodationBookingApp.Pages.BookingsModel
@{
    <div class="container">
        <div class="row">
            <h2>
                Previous stays
            </h2>
        </div>
        
        @foreach (AccommodationBookingApp.DataAccess.Entities.Booking previousBooking in Model.PreviousStays)
        {
            <div class="row">
                <p>@previousBooking.Accommodation.Name  </p>
                <p> Status: @previousBooking.ApprovalStatus </p>
                <p> Check-in Date: @previousBooking.CheckInDate.ToShortDateString() </p>
                <p> Check-out Date: @previousBooking.CheckOutDate.ToShortDateString() </p>
            </div>
                
        }
       <div class="row">
            <h2>
                Upcoming bookings
            </h2>
       </div>

        @foreach (AccommodationBookingApp.DataAccess.Entities.Booking upcomingBooking in Model.UpcomingStays)
        {
            <div class="row">
                <p>@upcomingBooking.Accommodation.Name  </p>
                <p> Status: @upcomingBooking.ApprovalStatus </p>
                <p> Check-in Date: @upcomingBooking.CheckInDate.ToShortDateString() </p>
                <p> Check-out Date: @upcomingBooking.CheckOutDate.ToShortDateString() </p>
                @if(upcomingBooking.Accommodation.UserCanCancelBooking || upcomingBooking.ApprovalStatus == DataAccess.Entities.ApprovalStatus.Pending)
                {
                    <form method="post">
                        <button type="submit" class="btn btn-sm btn-danger"
                                asp-page-handler="UserCancelBooking" asp-route-bookingId="@upcomingBooking.Id">Cancel booking</button>
                    </form>
                }
            </div>
         }

        <div class="row">
            <h2>
                Declined stays
            </h2>
        </div>

        @foreach (AccommodationBookingApp.DataAccess.Entities.Booking declinedBooking in Model.DeclinedStays)
        {
            <div class="row">
                <p>@declinedBooking.Accommodation.Name</p>
                <p>@declinedBooking.ApprovalStatus</p>
                <p>@declinedBooking.CheckInDate.ToShortDateString()</p>
                <p>@declinedBooking.CheckOutDate.ToShortDateString()</p>
            </div>
        }

        <div class="row">
            <h2>
                Cancelled stays
            </h2>
        </div>

        @foreach (AccommodationBookingApp.DataAccess.Entities.Booking cancelledBooking in Model.CancelledStays)
        {
            <div class="row">
                <p>@cancelledBooking.Accommodation.Name</p>
                <p>@cancelledBooking.ApprovalStatus</p>
                <p>@cancelledBooking.CheckInDate.ToShortDateString()</p>
                <p>@cancelledBooking.CheckOutDate.ToShortDateString()</p>
            </div>
        }
    </div>
}
