@page
@model AccommodationBookingApp.Pages.ReservationsModel
@{
    ViewData["Title"] = "Reservations";
}
@{

    @if (Model.PendingReservations != null && Model.PendingReservations.Count > 0)
    {
        <div class="row">
            <h2>Pending reservations:</h2>
        </div>
    
        @foreach (var booking in Model.PendingReservations)
        {
            <div class="row">
                <p>@booking.Accommodation.Name</p>
                <p>@booking.CheckInDate.Date.ToShortDateString()</p>
                <p>@booking.CheckOutDate.Date.ToShortDateString()</p>
                <p>@booking.ApplicationUser.UserName</p>
                <a asp-page="/BookingDetails" asp-route-bookingId="@booking.Id" asp-route-accommodationId="@booking.Accommodation.Id">See details</a>
            </div>
        }
    }

    
    @if (Model.ApprovedReservations != null && Model.ApprovedReservations.Count > 0)
    {
        <div class="row">
            <h2>Approved reservations:</h2>
        </div>

        @foreach (var booking in Model.ApprovedReservations)
        {
            <div class="row">
                <p>@booking.Accommodation.Name</p>
                <p>@booking.CheckInDate.Date.ToShortDateString()</p>
                <p>@booking.CheckOutDate.Date.ToShortDateString()</p>
                <p>@booking.ApplicationUser.UserName</p>
                <a asp-page="/BookingDetails" asp-route-bookingId="@booking.Id" asp-route-accommodationId="@booking.Accommodation.Id">See details</a>
            </div>
        }
    }

    @if (Model.PreviousReservations != null && Model.PreviousReservations.Count > 0)
    {
        <div class="row">
            <h2>Previous reservations:</h2>
        </div>

        @foreach (var booking in Model.PreviousReservations)
        {
            <div class="row">
                <p>@booking.Accommodation.Name</p>
                <p>@booking.CheckInDate.Date.ToShortDateString()</p>
                <p>@booking.CheckOutDate.Date.ToShortDateString()</p>
                <p>@booking.ApplicationUser.UserName</p>
                <a asp-page="/BookingDetails" asp-route-bookingId="@booking.Id" asp-route-accommodationId="@booking.Accommodation.Id">See details</a>
            </div>
        }
    }


    @if (Model.DeclinedReservations != null && Model.DeclinedReservations.Count > 0)
    {
        <div class="row">
            <h2>Declined reservations:</h2>
        </div>

        @foreach (var booking in Model.DeclinedReservations)
        {
            <div class="row">
                <p>@booking.Accommodation.Name</p>
                <p>@booking.CheckInDate.Date.ToShortDateString()</p>
                <p>@booking.CheckOutDate.Date.ToShortDateString()</p>
                <p>@booking.ApplicationUser.UserName</p>
                <a asp-page="/BookingDetails" asp-route-bookingId="@booking.Id" asp-route-accommodationId="@booking.Accommodation.Id">See details</a>
            </div>
        }
    }


    @if (Model.CancelledReservations != null && Model.CancelledReservations.Count > 0)
    {
        <div class="row">
            <h2>Canceled reservations:</h2>
        </div>

        @foreach (var booking in Model.CancelledReservations)
        {
            <div class="row">
                <p>@booking.Accommodation.Name</p>
                <p>@booking.CheckInDate.Date.ToShortDateString()</p>
                <p>@booking.CheckOutDate.Date.ToShortDateString()</p>
                <p>@booking.ApplicationUser.UserName</p>
                <a asp-page="/BookingDetails" asp-route-bookingId="@booking.Id" asp-route-accommodationId="@booking.Accommodation.Id">See details</a>
            </div>
        }
    }


    @if (Model.CancelledByUserReservations != null && Model.CancelledByUserReservations.Count > 0)
    {
        <div class="row">
            <h2>Cancelled by user reservations:</h2>
        </div>

        @foreach (var booking in Model.CancelledByUserReservations)
        {
            <div class="row">
                <p>@booking.Accommodation.Name</p>
                <p>@booking.CheckInDate.ToShortDateString()</p>
                <p>@booking.CheckOutDate.ToShortDateString()</p>
                <p>@booking.ApplicationUser.UserName</p>
                <a asp-page="/BookingDetails" asp-route-bookingId="@booking.Id" asp-route-accommodationId="@booking.Accommodation.Id">See details</a>
            </div>
        }
    }

    @if (Model.PendingReservations.Count == 0 && Model.ApprovedReservations.Count == 0 && Model.PreviousReservations.Count == 0 &&
            Model.DeclinedReservations.Count == 0 && Model.CancelledReservations.Count == 0 && 
            (Model.CancelledByUserReservations != null && Model.CancelledByUserReservations.Count == 0 || Model.CancelledByUserReservations == null))
    {
        <div class="row">
            <p>No reservations yet</p>
        </div>
    }
}
