@page
@model AccommodationBookingApp.Pages.SearchModel
@{
    <h4 class="mt-2">Search:</h4>
    <form method="post" class="mt-4">
        <label>City</label>
        <input type="text" placeholder="City" asp-for="AccommodationCity" />
        <span asp-validation-for="AccommodationCity" class="text-warning"></span>
        <label>Number of guests: </label>
        <input type="number" min="1" value="1" asp-for="NumberOfGuests" />
        <span asp-validation-for="NumberOfGuests" class="text-warning"></span>
        <label>Check-in date:</label>
        <input data-provide="datepicker" asp-for="CheckInDateString" onchange="checkInCalendarClicked()" class="checkInDatepicker" autocomplete="off" />
        <span asp-validation-for="CheckInDateString" class="text-warning"></span>
        <label>Check-out date:</label>
        <input data-provide="datepicker" asp-for="CheckOutDateString" class="checkOutDatepicker" autocomplete="off" />
        <span asp-validation-for="CheckOutDateString" class="text-warning"></span>
        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#moreFilters" role="button" aria-expanded="false" aria-controls="moreFilters">
                More filters
            </a>
        </p>
        <div class="collapse" id="moreFilters">
            <div class="card">
                <label>Accommodation type:</label>
                <div class="input-group mb-2">
                    <select asp-items="@(new SelectList(Model.AccommodationTypes, "Id", "Name"))" asp-for="AccommodationTypeId">
                        <option selected hidden value="0">Please select the accommodation type</option>
                    </select>
                </div>
                <label>Check-in time no later than:</label>
                <div class="input-group mb-2">
                    <select asp-items="@(new SelectList(Model.TimeOfTheDayList))" asp-for="LatestCheckInTime">
                    <option selected disabled hidden>Latest check-in time</option>
                    </select>
                </div>
                <label>Check-out time no earlier than:</label>
                <div class="input-group mb-2">
                    <select asp-items="@(new SelectList(Model.TimeOfTheDayList))" asp-for="EarliestCheckOutTime">
                    <option selected disabled hidden>Earliest check-out time</option>
                    </select>
                </div>
                <label>Show only accommodations that don't require host's approval?</label>
                <div class="input-group mb-2">
                    <input asp-for="@Model.ShowOnlyAccommodationsWithInstantBooking" class="form-control"/>
                </div>
                <label>Cancelation allowed after booking is confirmed?</label>
                <div class="input-group mb-2">
                    <input asp-for="@Model.ShowOnlyAccommodationsWhereUserCanCancelBooking" class="form-control"/>
                </div>
            </div>
        </div>
        <button type="submit">Search</button>
    </form>

    @if (Model.Accommodations != null)
    {

        foreach (AccommodationBookingApp.DataAccess.Entities.Accommodation accommodation in Model.Accommodations)
        {
            var imagePath = "~/accommodationPhotos/" + @accommodation.Name + "/Header/" + accommodation.HeaderPhotoFileName;

            <div>
                <h2><a asp-page="/AccommodationDetails" asp-route-accommodationId="@accommodation.Id"
                       asp-route-checkInDate="@Model.CheckInDateString" asp-route-checkOutDate="@Model.CheckOutDateString">@accommodation.Name</a></h2>
                <p>Number of beds: @accommodation.NumberOfBeds</p>
                <p>Price per night: @accommodation.PricePerNight @accommodation.Currency</p>
                <p>Address: @accommodation.Address</p>
                <p>City: @accommodation.City</p>
                <a asp-page="/AccommodationDetails" asp-route-accommodationId="@accommodation.Id"
                   asp-route-checkInDate="@Model.CheckInDateString" asp-route-checkOutDate="@Model.CheckOutDateString"><img src="@imagePath" asp-append-version="true" /></a>
            </div>
        }
    }
    @if (Model.Accommodations != null && Model.Accommodations.Count == 0)
    {
        <div>
            <h2>@Model.ErrorMessage</h2>
        </div>
    }

    <script>
        $(document).ready(function () {
            $('.checkInDatepicker').datepicker({
                datepicker: true,
                timepicker: false,
                startDate: new Date(),
                format: "dd.mm.yyyy.",
                weekStart: 1
            });
            $('.checkOutDatepicker').datepicker({
                datepicker: true,
                timepicker: false,
                startDate: '+1d',
                format: "dd.mm.yyyy.",
                weekStart: 1
            });
        })
        function checkInCalendarClicked() {
            let checkInDateSelected = $('.checkInDatepicker').datepicker('getDate');
            let checkOutDateSelected = $('.checkOutDatepicker').datepicker('getDate');
            let dayAfterCheckInDate = new Date();
            dayAfterCheckInDate.setDate(checkInDateSelected.getDate() + 1);

            if (checkInDateSelected >= checkOutDateSelected) {
                $('.checkOutDatepicker').datepicker('clearDates');
            }
            $('.checkOutDatepicker').datepicker('setStartDate', dayAfterCheckInDate);
        }
    </script>
}
