@page
@model AccommodationBookingApp.Pages.Admin.AccommodationsListModel
@{ 
    ViewData["Title"] = "Accommodations List";
}
@{
    <div class="container">
        @if (Model.Accommodations == null && Model.Accommodations.Count == 0)
        {
            <div class="row">
                <h2>No accommodations yet</h2>
            </div>
        }
        else
        {
            @foreach (var accommodation in Model.Accommodations)
            {
                <div class="row">
                    <label>Name</label>
                    <p>@accommodation.Name</p>
                    <label>City</label>
                    <p>@accommodation.City</p>
                    <label>Type</label>
                    <p>@accommodation.AccommodationType.Name</p>
                    <label>Number of beds</label>
                    <p>@accommodation.NumberOfBeds</p>
                    <label>Accommodation owner</label>
                    <p>@accommodation.ApplicationUser.UserName</p>
                </div>
                <div class="row">
                    <a asp-page="/Reservations" asp-page-handler="ForAccommodation"
                       asp-route-accommodationId="@accommodation.Id" class="btn btn-info">See all reservations for this accommodation</a>
                    <a asp-page="/Account" asp-page-handler="AccountDetailsForUser" 
                       asp-route-username="@accommodation.ApplicationUser.UserName" class="btn btn-info">Accommodation owner details</a>
                </div>
            }
        }
    </div>
}
